.content {
  height: calc(100% - 45px);
  overflow-x: hidden;

  .instanceTable {
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;
    scroll-snap-type: both mandatory;
    overflow: auto;
    
    table {
      width: 3000px !important;
      scroll-snap-type: both mandatory !important;
      font-size: 16px;
    }
  
    > div, > div > div {
      height: 100%;
    }
  
    > div > div > div > div:nth-child(2) {
      position: fixed !important;
      bottom: 20px !important;
    }
  }
}
